doctype html
html(lang='en')
  include common/head.pug
  +head("StarterMVP")
  body
    header
      include common/navbar.pug
      +navbar()
      .container#landing
        .row
          .col-md-6(align="center")
            .jumbotron
              h1.display-4 The Great Library of Leads
              p.lead
                | Enter your information into the grand database 
              form(action="/signup" method="GET")
                button.btn.btn-primary(type="submit") Signup
              hr.my-4
                |
              form(action="/", method="POST")
                .form-group
                  label(for='exampleInputEmail1') Email address
                  input#exampleInputEmail1.form-control(name="lead_email" type="email", placeholder="input your essence")
                  small#emailHelp.form-text.text-muted Your secret is safe with us
                button.btn.btn-primary(type='submit') Submit

    include common/footer.pug
    +footer()
    script(src='/javascripts/leads.js')




