doctype html
html(lang='en')
  include ../common/head.pug
  +head("Login")
  body
    header
      include ../common/navbar.pug
      +navbar()
      .container#landing
        .row
          .col-md-6(align="center")
            .jumbotron
              h1.display-4 Log in
              hr.my-4
                |
              form(action="/login" method="POST")
                .form-group
                  label(for='exampleInputEmail1') Email address
                  input#exampleInputEmail1.form-control(name="email" type="email", placeholder="input your essence")
                .form-group
                  label(for='exampleInputEmail1') Password
                  input#exampleInputEmail1.form-control(name="email" type="password", placeholder="input your soul")
                  small #[a(href="/") forgot password?]
                button.btn.btn-primary.btn-block(type='submit') Submit
                br
                small Don't have an account yet? #[a(href="/signup") Signup here!]

    include ../common/footer.pug
    +footer()
    script(src='/javascripts/leads.js')
