doctype html
html(lang='en')
  include ../common/head.pug
  +head("Signup")
  body
    header
      include ../common/navbar.pug
      +navbar()
      .container#landing
        .row
          .col-md-6(align="center")
            .jumbotron
              h1.display-4 Sign up
              hr.my-4
                |
              form(action="/" method="GET")
                .form-group
                  label(for='exampleInputEmail1') Email address
                  input#exampleInputEmail1.form-control(name="newEmail" type="email", placeholder="input your essence")
                .form-group
                  label(for='exampleInputEmail1') Password
                  input#exampleInputEmail1.form-control(name="newPassword" type="password", placeholder="input your soul")
                  small#emailHelp.form-text.text-muted Your secret is safe with us
                button.btn.btn-primary.btn-block(type='submit') Submit
                br
                br
                br
                small Already have an account?
                br
                form(action="/leads" method="GET")
                  button.btn.btn-link(type='submit') Login
    include ../common/footer.pug
    +footer()
    script(src='/javascripts/leads.js')
