doctype html
html(lang='en')
  include ../common/head.pug
  +head("Signup")
  body
    header
      include ../common/navbar.pug
      +navbar()
      .container#landing
        .row
          .col-md-6(align="center")
            .jumbotron
              h1.display-4 Sign up
              hr.my-4
                |
              form(action="/signup" method="POST")
                .form-group
                  label(for='exampleInputEmail1') Email address
                  input.form-control(name="email" type="email", placeholder="input your essence", value=formData.email, required=true)
                .form-group
                  label(for='exampleInputEmail1') Password
                  input.form-control(name="password" type="password", placeholder="input your soul", value=formData.email, required=true)
                  small.form-text.text-muted Your secret is safe with us
                button.btn.btn-primary.btn-block(type='submit') Submit
                br
                small Already have an account? #[a(href="/login") Login in here!]
    include ../common/footer.pug
    +footer()
    script(src='/javascripts/leads.js')
